@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,300");
@import url("https://fonts.googleapis.com/css?family=BreeSerif");
body {
  font: 14px/140% "Roboto";
  color: #6d6e71;
  padding-bottom: 0;
}
#trigger-menu {
  padding: 5px 10px;
  color: #436fab;
  cursor: pointer;
  border-radius: 3px;
  border: 0px solid #436fab;
  float: right;
  display: none;
  margin: 17px -5px 0 0;
  text-align: center;
  display: none;
  font-size: 24px;
}
#menu-mobile {
  background: #12396f;
  padding: 0;
  position: fixed;
  right: -600px;
  top: 70px;
  width: 250px;
  display: none;
  z-index: 9;
  height: 100vh;
  transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
}
#menu-mobile.activo {
  right: 0;
}
#menu-mobile ul {
  list-style-type: none;
  padding-left: 0;
  width: 100%;
}
#menu-mobile ul li {
  width: 100%;
  display: block;
  height: auto;
  padding: 15px 0 15px 15px;
  margin-left: 0;
  border-bottom: 1px solid #1d4b8d;
}
#menu-mobile ul a {
  color: #fff;
  display: block;
  height: auto;
  padding: 0;
}
nav {
  background: rgba(255,255,255,0.95);
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  padding: 0 20px;
  height: 70px;
  z-index: 9;
  position: fixed;
  top: 0;
  width: 100%;
}
nav .brand {
  width: 170px;
  height: 48px;
  text-indent: -9999999px;
  background: url("../img/broteverde-horizontal.svg") no-repeat center center;
  background-size: 100%;
  margin-top: 10px;
}
nav ul {
  display: table;
  list-style: none;
  border: none;
}
nav ul li {
  display: table-cell;
  padding: 25px 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0;
  height: 70px;
  font: 400 14px "Roboto";
  border-bottom: 3px solid transparent;
  text-decoration: none;
  -webkit-transition: all 0.25s ease-in-out 0s;
  -moz-transition: all 0.25s ease-in-out 0s;
  -ms-transition: all 0.25s ease-in-out 0s;
  -o-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s;
}
nav ul li:hover {
  background: #efefef;
a
}
nav ul li.active {
  background: #e2e2e3;
}
nav ul li a {
  height: 70px;
  padding: 30px 15px;
  color: #009344;
}
font-weight bold !important {
  text-decoration: none;
  -webkit-transition: all 0.25s ease-in-out 0s;
  -moz-transition: all 0.25s ease-in-out 0s;
  -ms-transition: all 0.25s ease-in-out 0s;
  -o-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s;
}
font-weight bold !important:hover {
  color: #006da9 !important;
}
footer {
  background: #c6e29f;
  padding: 15px 0;
  margin-bottom: 0;
  font-size: 14px;
  color: #596a44;
}
footer a {
  color: #596a44;
}
footer a:hover {
  color: #596a44;
}
footer .logo-footer {
  width: 30px;
  height: 30px;
  margin: auto;
  margin-top: -5px;
  display: block;
  background: url("../img/logo-footer.svg") no-repeat center center;
}
.hero {
  background: url("../img/hero/bg-hero.png") no-repeat center center;
  background-size: cover;
  height: 650px;
  display: block;
}
.hero h2 {
  text-align: center;
  width: 100%;
  font: 42px "Bree Serif";
  text-shadow: 0 0 20px rgba(0,0,0,0.5);
  margin: 270px auto 0 auto;
  color: #fff;
}
.hero h3 {
  font-size: 16px;
  line-height: 140%;
  text-shadow: 0 0 20px rgba(0,0,0,0.5);
  color: #fff;
  font-weight: 400;
  text-align: center;
  width: 50%;
  margin: 5px auto;
}
.icono__servicio {
  border: none;
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
}
.icono__servicio--soluciones {
  background: url("../img/iconos/ico-soluciones.svg") no-repeat center center;
  background-size: 110%;
}
.icono__servicio--bajo-consumo {
  background: url("../img/iconos/ico-bajo-consumo.svg") no-repeat center center;
  background-size: 110%;
}
.icono__servicio--asesorias {
  background: url("../img/iconos/ico-asesorias.svg") no-repeat center center;
  background-size: 110%;
}
a:hover {
  text-decoration: none;
}
.titulo-home {
  text-align: center;
  font: 24px "Bree serif";
}
.titulo-seccion {
  font: 32px "Bree serif";
  margin-bottom: 20px;
}
.subtitulo {
  font: 24px "Bree serif";
  margin-bottom: 20px;
  margin-top: 0;
}
.bajada {
  font-size: 32px;
  font-weight: 300;
  line-height: 111%;
  color: #8dc63f !important;
}
figure,
figcaption {
  text-align: center;
  text-transform: uppercase;
}
figure {
  border-radius: 50%;
  border: 5px solid rgba(198,228,157,0.5);
  width: 170px;
  height: 170px;
  margin: 20px auto;
  overflow: hidden;
}
figcaption {
  padding-left: 20px;
  padding-right: 20px;
}
.btn-mas-info {
  border-radius: 20px;
  padding: 10px;
  height: auto;
  border: 1px solid #8dc63f;
  color: #8dc63f;
  margin: 60px 0 20px 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  clear: both;
  -webkit-transition: all 0.25s ease-in-out 0s;
  -moz-transition: all 0.25s ease-in-out 0s;
  -ms-transition: all 0.25s ease-in-out 0s;
  -o-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s;
}
.btn-mas-info:hover {
  color: #009344;
  border-color: #009344;
}
.home .ofrecemos,
.home .testimonios,
.home .proponemos {
  padding: 60px 0 60px 0;
}
.home .proponemos figure {
  position: relative;
}
.home .proponemos figure img {
  margin: 0 0 0 -90px;
  position: absolute;
  left: 50%;
}
.testimonios {
  background: url("../img/bg-testimonios.png") no-repeat center center;
  background-size: cover;
  min-height: 465px;
  text-align: center;
}
.testimonios .titulo-home {
  color: #fff;
  text-shadow: 0 0 7px rgba(0,0,0,0.9);
}
.testimonios q {
  color: #fff;
  font: 36px "Bree serif";
  display: block;
  margin: 40px auto;
  text-shadow: 0 0 7px rgba(0,0,0,0.9);
  width: 55%;
}
.testimonios .btn-mas-info {
  color: #fff;
  border-color: #fff;
  text-shadow: 0 0 7px rgba(0,0,0,0.9);
}
.testimonios .btn-mas-info:hover {
  color: #009344;
  border-color: #009344;
}
.hero__interior {
  padding-top: 150px;
}
.hero__interior .titulo-seccion__interior {
  color: #fff;
  margin-bottom: 10px;
}
.hero__interior--quienes {
  background: url("../img/bg_quienes.png") no-repeat center center;
  background-size: cover;
  height: 650px;
}
.hero__interior--quienes .titulo-seccion__interior {
  margin-bottom: 60px;
}
.hero__interior--quienes p {
  color: #fff;
}
.hero__interior--quienes figure {
  width: 350px;
  height: 350px;
  overflow: hidden;
  margin-top: -80px;
}
.hero__interior--quienes figure img {
  left: -30%;
  top: -25px;
  position: relative;
}
.hero__interior--generica {
  padding-top: 120px;
  background: url("../img/bg_quienes.png") no-repeat center center;
  background-size: cover;
  height: 300px;
}
.proposito {
  padding: 60px 0;
}
.proposito .frase {
  color: #009344;
  font-size: 22px;
  line-height: 200%;
  font-weight: 300;
  width: auto;
}
.interior .proponemos {
  background: #f0f0f1;
  padding: 60px 0;
}
.interior .proponemos figure {
  width: 150px;
  height: 150px;
}
.interior .ofrecemos {
  display: flex;
  padding: 60px 0;
}
.interior .ofrecemos .col-ofrecemos {
  flex: 1;
}
.interior .ofrecemos .col-ofrecemos figure {
  width: 120px;
  height: 120px;
}
.interior .ofrecemos .col-ofrecemos .icono__servicio {
  background-size: 80% !important;
}
.interior .ofrecemos .col-ofrecemos .icono__servicio--balcones {
  background: url("../img/iconos/ico-soluciones.svg") no-repeat center center;
}
.interior .ofrecemos .col-ofrecemos .icono__servicio--deteriorados {
  background: url("../img/iconos/ico-soluciones.svg") no-repeat center center;
}
.interior .ofrecemos .col-ofrecemos .icono__servicio--construccion {
  background: url("../img/iconos/ico-soluciones.svg") no-repeat center center;
}
.interior .ofrecemos .col-ofrecemos .icono__servicio--riego {
  background: url("../img/iconos/ico-soluciones.svg") no-repeat center center;
}
.interior .ofrecemos .col-ofrecemos .icono__servicio--asesoria {
  background: url("../img/iconos/ico-asesorias.svg") no-repeat center center;
}
.interior .ofrecemos .col-ofrecemos .icono__servicio--maceteros {
  background: url("../img/iconos/ico-soluciones.svg") no-repeat center center;
}
.interior .ofrecemos .col-ofrecemos .icono__servicio--interiores {
  background: url("../img/iconos/ico-soluciones.svg") no-repeat center center;
}
.interior .descripcion {
  font-weight: 400;
  font-size: 18px;
  color: #8dc63f;
  width: 50%;
  display: block;
}
.interior .thumb {
  height: auto;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: top;
  display: table;
}
.interior .thumb figure {
  display: table-cell;
  border-radius: 0;
  width: auto;
  height: auto;
  position: relative;
  overflow: hidden;
  border: 2px solid #efefef;
}
.interior .thumb figure img {
  border-radius: 5px;
  width: 100%;
}
.interior .thumb figure .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100%;
  z-index: 2;
  display: block;
  opacity: 0.7;
  background: #8dc63f;
  transition: all 0.3s ease-in-out 0s;
}
.interior .thumb figure .overlay .fa {
  font-size: 24px;
  text-shadow: 0 0 5px rgba(0,0,0,0.3);
  color: #fff;
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 9px);
}
.interior .thumb figure:hover .overlay {
  top: 0;
}
.interior .galeria {
  padding-top: 40px;
}
.interior .galeria .row__thumbs {
  margin-bottom: 60px;
}
.interior .galeria .row__thumbs:last-child {
  margin-bottom: 60px;
}
.interior .galeria h4 {
  overflow: hidden;
  width: auto;
}
.interior .galeria h4:after {
  background-color: #ccc;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 100%;
  margin-left: 10px;
  left: 0.5em;
  margin-right: -50%;
}
@media screen and (max-width: 480px) {
  #trigger-menu {
    display: block;
  }
  #menu-mobile {
    display: block;
  }
}
